:root {
  --color-gray-light: #DCDCDCFF;

  --color-blue-light: #80B8F4FF;
  --color-blue-dark: #2c4256;

  --color-green-light: #00BD7EFF;

  --color-red-light: #B85D5DFF;
}

:root {
  --color-text: var(--color-blue-dark);
  --color-background: var(--color-gray-light);
  --font-family: Inter, -apple-system, 'Sergoe UI';
}

*, *::before, *::after {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 80vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: var(--font-family);
  font-size: 15px;
  text-rendering: optimizeLegibility;
}

#app {
  margin: 100px auto;
}
